<div class="hero">
    <div class="hero__container container">
        {% if hero.title_hidden %}
		    <h1 class="visually-hidden">{{ hero.title_hidden }}</h1>
	    {% endif %}
        {% if hero.title %}
            <div class="hero__title">
                {% for title in hero.title %}
					<div class="hero__title-line">{{ title }}</div>
				{% endfor %}
            </div>
        {% endif %}
        {% if hero.desc %}
            <div class="hero__desc">
                {{hero.desc}}
            </div>
        {% endif %}
    </div>
</div>