<div class="card-move{% if card.layout %} card-move--layout-{{card.layout}}{% endif %}{% if card.theme %} card-move--theme-{{card.theme}}{% endif %}">

    {% if card.move %}
        <div class="card-move__item card-move__item--move" {% if card.move.attr %}{{card.move.attr}}{% endif %}>
            {% if card.move.icon %}
                {% view '@icon' with {
                    icon: card.move.icon
                } %}
            {% endif %}
        </div>
    {% endif %}
    {% if card.static %}
        <div class="card-move__item card-move__item--static">
            {% if card.static.img %}
                {% view '@image-adaptive' with {
                    image: card.static.img
                } %}
            {% endif %}
        </div>
    {% endif %}

   
</div>