.tab {
	$root: &;

	position: relative;
	display: flex;
	min-height: rem(22);
	padding: 0;
	color: rgba($color-black, 0.3);
	background-color: transparent;
	border: 0;
	cursor: pointer;
	@include defaultTransition(color);
	outline: none;

	@include hover {
		color: $color-black;
	}


	&:disabled,
	&--disabled {
	
	}

	&__text {
		display: block;
	}

	&--active {
		color: $color-black;
	}
}


@keyframes dash {
	to {
	  stroke-dashoffset: 0;
	}
  }
