<div class="card-benefit">
    {% if card.icon %}
        <div class="card-benefit__icon">
            {% view '@icon' with {
                icon: block.icon
            } %}
        </div>
    {% endif %}
    {% if card.desc %}
        <div class="card-benefit__desc text-lead">
            {{card.desc}}
        </div>
    {% endif %}
</div>