.card-benefit {
    &__icon {
        color: $color-white;
        width: 80px;
        margin-bottom: rem(40);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(40);
            margin-left: 0;
        }

        @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-bottom: rem(24);
        }

        .special {
            color: $color-green-light;
        }
    }

    &__desc {
        max-width: rem(320);

        @include media-breakpoint-down(sm) {
            max-width: rem(360);
        }
        
    }
}