@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/animations/shift-toward.css";

.hint {
	$root: &;

	width: rem(16);
	height: rem(16);
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;

	@at-root .field & {
		@include media-breakpoint-down(sm) {
			width: rem(16);
			height: rem(16);
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color-gray;
		color: $color-black;
		width: rem(16);
		height: rem(16);
		@include defaultTransition(background-color, color);

		@at-root .field & {
			@include media-breakpoint-down(sm) {
				width: rem(16);
				height: rem(16);
			}
		}

		#{$root}--color & {
			background-color: $color-green-light;
			color: $color-black;
		}

		@include hover {
			background-color: $color-green;
			color: $color-white;

			#{$root}--color & {
				background-color: $color-white;
				color: $color-black;
			}
		}

		.icon {
			height: rem(8);
			width: rem(4);
		}
	}
}

.tippy {

	&-box {
		background-color: $color-white;
		color: $color-black;
		box-shadow: rem(0) rem(8) rem(24) rgba(4, 20, 35, 0.08);
		padding: rem(16) rem(24);
		width: 100%;
		border-radius: 0;
	}

	&-content {
		padding: 0;
		@include text-body;
	}
}

