<div class="card-info">
    <div class="card-info__action">
        {% if card.action %}
            {% view "@button-arrow" with {
                button: card.action
            } %}
        {% endif %}
    </div>
    <div class="card-info__factoid {% if card.active %}active{% endif %}" {% if card.attr %}{{card.attr}}{% endif %}>
        {% view '^card-factoid' with {
            card: card.card_factoid
        } %}
    </div>
</div>