
.textarea-shell {
	position: relative;
	padding-top: rem(32);
}

.textarea {
	$root: &;

	display: block;
	width: 100%;
	height: rem(72);
	padding-right: rem(16);
	padding-left: 0;
	background-color: transparent;
	color: $color-opacity-dark;
	border: none;
	border-bottom: 1px solid $color-opacity-dark;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@include text-body;
	line-height: rem(24);
	@include defaultTransition(border-color, color);
	resize: none;
	
	&:not(:disabled) {
		@include hover {
			color: $color-black;
			border-color: $color-green-light;
		}
	}

	&::placeholder {
		opacity: 1;
	}

	&::-ms-clear {
		display: none;
	}

	&::-ms-reveal {
		display: none;
	}

	&.filled {
		color: $color-black;
		border-color: $color-green-light;

		&:disabled {
			color: $color-opacity-dark;
		}
	}

	&:disabled {
		opacity: 0.4;
	}
	
		
	&:focus {
		outline: none;
		color: $color-black;
		border-color: $color-green-light;
	}
	
	
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
	
	// Базовый стиль поведения label
& {
	padding-top: rem(20);
	-webkit-appearance: none;

	@at-root .has-error & {
		border-color: red !important;
	}

	& ~ .label {
		position: absolute;
		top: rem(27);
		left: 0;
		margin: 0;
		transform-origin: top left;
		pointer-events: none;
		will-change: transform;
		@include defaultTransition(transform, color);
		// @include text-default;
	}

	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-moz-placeholder,
	&::-ms-input-placeholder,
	&::placeholder {
		opacity: 0;
	}

	&::-moz-placeholder {
		opacity: 0;
	}

	&:-ms-input-placeholder {
		color: rgba($color-black, 0);
	}

	&:focus,
	&.not-empty,
	&.filled {
		~ .label {
			transform: translateY(-68%) translateX(-1%)  scale(0.75);
		}


		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-moz-placeholder,
		&::-ms-input-placeholder,
		&::placeholder {
			opacity: 1;
		}

		&::-moz-placeholder {
			opacity: 1;
		}
	}


	@include hover {
		&::placeholder {
			opacity: 1;
			color: rgba($color-white, 0.4);
		}
	}

	&--color {
		@include hover {
			&:not(:focus):not(:disabled){
				// & ~ .label {
				// 	color: rgba($color-white, 1);
				// }
			}
			
	
			&::placeholder {
				opacity: 1;
				color: rgba($color-white, 0.4);
			}
		}
	}

	&:disabled {
		& ~ .label {
			opacity: 0.4;
		}

		& ~ .input-hint {
			opacity: 0.4;
			pointer-events: none;
		}
	}
}
}
