.icon {
	display: inline-block;
	width: rem(24);
	height: rem(24);
	vertical-align: middle;
	pointer-events: none;

	&--16 {
		width: rem(16);
		height: rem(16);
	}

	&--24 {
		width: rem(24);
		height: rem(24);
	}

	&--40 {
		width: rem(40);
		height: rem(40);
	}

	&--80 {
		width: rem(80);
		height: rem(80);
	}

	&--fit {
		width: 100%;
		height: 100%;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;

		#shape-1 {
			@include media-breakpoint-up(md) {
				transform: scale(0.0044, 0.00212);
			}

			@include media-breakpoint-up(lg) {
				transform: scale(0.0016, 0.00212);
			}
		}

		#shape-2 {
			transform: scale(0.00202, 0.00166);
		}

		#shape-3 {
			transform: scale(0.0031, 0.0031);
		}
		
	}
}
