.block-products {
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(-8);
        
        @include media-breakpoint-only(md) {
            margin-top: 0;
            margin-left: rem(-8);
        }
    }

    &__item {
        width: 100%;
        margin-top: rem(8);
      
        @include media-breakpoint-up(md) {
            width: calc(33.333% - #{rem(8)});
            margin-left: rem(8);
        }

        @include media-breakpoint-only(md) {
            width: calc(50% - #{rem(8)});
            margin-left: rem(8);
        }
    }

    &__action {
        display: block;
        margin-top: rem(29);

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}