<div class="block-products" {% if block.scroll_target %}id="{{block.scroll_target}}"{% endif %}>
    <div class="block-products__container container">
        {% if block.heading %}
            {% view '^heading' with {
                heading: block.heading
            } %}
        {% endif %}

        {% if block.items %}
            <div class="block-products__items">
                {% for card in block.items %}
                    <div class="block-products__item">
                        {% view '^card-type' with {
                            card: card
                        } %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if block.action %}
            <div class="block-products__action">
                {% view '@button' with {
                    button: block.action
                } %}
            </div>
        {% endif %}
    </div>
</div>