<div class="nav-count"
    {% if nav_count.attr %} {{ nav_count.attr }}{% endif %}
    data-nav-count
>
    <span class="nav-count__current">{{ nav_count.current?: '' }}</span>
    {{ nav_count.delimiter?: '-' }}

	<span class="nav-count__total">
		{{ nav_count.total?: '' }}
	</span>
</div>
