.link-action {
	$root: &;

	display: inline-block;
	border: 0;
	padding: 0;
	background-color: transparent;
	color: $color-black;
	@include defaultTransition(color);

	@include hover {
		color: $color-green;

		#{$root}__text {
			&:after {
				background-color: rgba($color-black, 1);
			}
		}
	}

	&:disabled,
	&--disabled {
		pointer-events: none;
		color: rgba($color-black, 0.4);
	}

	&__text {
		position: relative;

		&:after {
			position: absolute;
			bottom: -1px;
			left: 0;
			content: "";
			width: 100%;
			height: 1px;
			background-color: rgba($color-black, 0.2);
			@include defaultTransition(background-color);
		}

		#{$root}:disabled &,
		#{$root}--disabled & {
			&:after {
				background-color: rgba($color-white, 0.3);
			}
		}
	}
}
