.button-arrow {
	$root: &;

	position: relative;
	display: inline-flex;
	align-items: center;
	min-width: auto;
	border: 0;
    background-color: transparent;
	border-radius: rem(104);
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
    color: rgba($color-black, 0.2);
	@include defaultTransition(background-color, color, opacity);

    height: rem(48);
    padding-right: rem(45);
    padding-left: 0;

	@include hover {
		color: $color-black;

        #{$root}__icon {
            opacity: 1;
        }
	}

    &:focus {
        color: $color-black;

        #{$root}__icon {
            opacity: 1;
        }
    }

	&:active {
		color: $color-black;

        #{$root}__icon {
            opacity: 1;
        }
	}

   
	@include media-breakpoint-up(md) {
		height: rem(48);
        padding-right: rem(45);
	}

    @include media-breakpoint-only(md) {
        max-width: min-content;
        white-space: break-spaces;
        height: auto;
    }


	&__text {
		position: relative;
		display: block;
		width: 100%;
        text-align: left;
        @include h3;
        padding-right: rem(10);

        @include media-breakpoint-down(sm) {
            padding-right: rem(32);
            white-space: break-spaces;
        }
	}

    &__icon {
        position: absolute;
		top: 50%;
		width: rem(40);
		height: rem(40);
        line-height: 0;
		pointer-events: none;
		transform: translateY(-50%);
        right: 0;
        opacity: 0;
        @include defaultTransition(background-color, opacity);
    }

    &.active {
        color: $color-black;

        #{$root}__icon {
            opacity: 1;
        }
    }

    &:disabled,
	&--disabled {
		background-color: $color-white;
		pointer-events: none;
        color: $color-opacity-dark;
	}
}
