<div class="block-navigation">
    <div class="block-navigation__container container">
        {% if block.items %}
            <ul class="block-navigation__items">
                {% for item in block.items %}
                    <li class="block-navigation__item">
                        {% view "^card-link" with {
                            card: item
                        } %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>