{% extends "layouts::_page.twig" %}

{% block content %}

	<div class="bg-green-superlight">      
		{% view '&hero-special' with {
			hero: hero_special
		}%}
	</div>

	<div class="pt-lg-120 pt-md-96 pt-80 pb-lg-72 pb-md-96 pb-88 bg-white">      
		{% view '&block-inform' with {
			block: block_inform
		}%}
	</div>

	<div class="pt-lg-96 pt-md-160 pt-120 pb-lg-160 pb-md-160 pb-56 bg-white">      
		{% view '&block-type' %}
	</div>

	<div class="pt-lg-96 pt-md-96 pt-80 pb-lg-72 pb-md-72 pb-56 bg-green-light">      
		{% view '&block-benefit' with {
			block: block_benefit
		} %}
	</div>

	<div class="pt-lg-128 pt-md-128 pt-128 pb-lg-72 pb-md-120 pb-88 bg-white">      
		{% view '&block-meaning' %}
	</div>

	<div class="pt-lg-96 pt-md-120 pt-80 pb-lg-72 pb-md-72 pb-56 bg-green-superlight">      
		{% view '&block-significant' %}
	</div>

    <div class="pt-lg-56 pt-md-40 pt-24 pb-lg-72 pb-md-40 pb-24 bg-green-superlight">      
		{% view '&slider-rating' with {
			slider: sliderType
		} %}
	</div>

	<div class="pt-lg-40 pt-md-72 pt-64 pb-lg-56 pb-md-56 pb-40 bg-green-superlight">
		{% view '&block-info' with {
			block: block_info
		} %}
	</div>

	<div class="pt-lg-64 pt-md-64 pt-40 pb-lg-120 pb-md-120 pb-80 bg-green-superlight">
		{% view '&block-navigation' with {
			block: block_navigation
		} %}
	</div>

	<div class="pt-lg-0 pt-md-80 pt-64 pb-lg-88 pb-md-88 pb-64 bg-white" >
		{% view '&form' with {
			form: formCall
		}%}
	</div>

{% endblock %}
