{% extends "layouts::_page.twig" %}

{% block content %}

	<div>

		<!--<editor-fold desc="@icon">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@icon</code></p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>16px</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for icon in icons.16px %}
							<div class="py-8 px-8">
								{% view '@icon' with {
									icon: icon
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>24px</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for icon in icons.24px %}
							<div class="py-8 px-8">
								{% view '@icon' with {
									icon: icon
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>80px</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for icon in icons.80px %}
							<div class="py-8 px-8">
								{% view '@icon' with {
									icon: icon
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!--<editor-fold desc="@button">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@buttons</code></p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>button-icon</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsIcon %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
				
				<div class="mb-24">
					<p class="text-lead mb-16"><code>button-icon theme-line</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsIconLine %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>button</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons %}
							<div class="py-8 px-8">
								{% view '@button' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

		</div>

		<div class="py-24 bg-black">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>on black background</code></p>
					<p class="text-lead mb-16 color-white"><code>button-icon</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsIcon %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>button-icon theme-line</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsLineBackgroundDark %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>button</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons %}
							<div class="py-8 px-8">
								{% view '@button' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="py-24 bg-green">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>on green background</code></p>
					<p class="text-lead mb-16 color-white"><code>button-icon</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsIconBackgroundGreen %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>

					
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>button-icon theme-line</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsLineBackgroundGreen %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>button</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons %}
							<div class="py-8 px-8">
								{% view '@button' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="py-24 bg-green-light">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16"><code>on green-light background</code></p>
					<p class="text-lead mb-16"><code>button-icon</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsIcon %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>button-icon theme-line</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsIconLine %}
							<div class="py-8 px-8">
								{% view '@button-icon' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>button</code></p>
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsBackgroundGreen %}
							<div class="py-8 px-8">
								{% view '@button' with {
									button: button
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="py-24">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16"><code>@nav-arrows</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						<div style="display: flex; flex-wrap: wrap;">
							<div class="py-8 px-8">
								{% view '@nav-arrows' with {
									nav_arrows: {
										disable_count: true
									}
								} %}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="py-24 bg-black">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>on black background</code></p>
					<p class="text-lead mb-16 color-white"><code>@nav-arrows</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						<div style="display: flex; flex-wrap: wrap;">
							<div class="py-8 px-8">
								{% view '@nav-arrows' with {
									nav_arrows: {
										theme: "white",
										disable_count: true
									}
								}%}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="py-24 bg-green">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16 color-white"><code>on green background</code></p>
					<p class="text-lead mb-16 color-white"><code>@nav-arrows</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						<div style="display: flex; flex-wrap: wrap;">
							<div class="py-8 px-8">
								{% view '@nav-arrows' with {
									nav_arrows: {
										theme: "white",
										background: "green",
										disable_count: true
									}
								}%}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="py-24 bg-green-light">
			<div class="container">
				<div class="mb-24">
					<p class="text-lead mb-16"><code>on green-light background</code></p>
					<p class="text-lead mb-16"><code>@nav-arrows</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						<div style="display: flex; flex-wrap: wrap;">
							<div class="py-8 px-8">
								{% view '@nav-arrows' %}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!--<editor-fold desc="@field input">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@field input</code></p>

				<div class="mb-24">
					<div style="display: flex; flex-wrap: wrap;">
						{% for field in inputs %}
							<div class="py-8 px-8">
								{% view '@field' with {
									field: field
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="py-24 bg-green">
			<div class="container">
				<p class="h2 mb-24"><code>@field input</code></p>

				<div class="mb-24">
					<div style="display: flex; flex-wrap: wrap;">
						{% for field in inputsBackground %}
							<div class="py-8 px-8">
								{% view '@field' with {
									field: field
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
