{% extends "layouts::_page.twig" %}

{% block content %}
	<!--<editor-fold desc="page styles">-->
	<style>
		.card-list-molecules {
			display: flex;
			flex-wrap: wrap;
		}

		.card-list-molecules__item {
			width: 100%;
		}

		@media (min-width: 990px) {
			.card-list-molecules__item {
				width: 33.3333%;
			}
		}

		@media (max-width: 989px) and (min-width: 640px) {
			.card-list-molecules__item {
				width: 50%;
			}

			.card-list-molecules.card-list-molecules--md-50 .card-list-molecules__item {
				width: 100%;
			}
		}
	</style>

	<!--</editor-fold>-->

	<div class="pt-128">
		<div class="py-24 container">
			<div class="my-32" style="max-width: 435px">
				{% view '^card-type' %}
			</div>
		</div>
	</div>


    <div class="py-24">
        <div class="container">
            <p class="h2 mb-40"><code>@card-link</code></p>

            <div class="mb-24">
                <div style="display: flex; flex-wrap: wrap;">
                    <div style="max-width:324px; width:100%">
                        {% view '^card-link' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
