{% extends "layouts::_page.twig" %}

{% block content %}

	<!--<editor-fold desc="Typography">-->

	<div class="py-24">
		<div class="container">
			<h1 class="mb-24">Heading H1</h1>
			<h2 class="mb-24">Heading H2</h2>
			<h3 class="mb-24">Heading H3</h3>
			<h4 class="mb-24">Heading H4</h4>
			<h6 class="text-number mb-24">88</h6>
			<p class="text-lead mb-24">Lead</p>
			<p class="text-body mb-24">Body</p>
			<p class="text-body-medium mb-24">Body_medium</p>
			<p class="text-label mb-24">label</p>
			<p class="text-number-big mb-24">88</p>
		</div>
	</div>

	<div class="py-24 bg-green" >
		<div class="container">
			<h1 class="mb-24">Heading H1</h1>
			<h2 class="mb-24">Heading H2</h2>
			<h3 class="mb-24">Heading H3</h3>
			<h4 class="mb-24">Heading H4</h4>
			<h6 class="text-number mb-24">88</h6>
			<p class="text-lead mb-24">Lead</p>
			<p class="text-body mb-24">Body</p>
			<p class="text-body-medium mb-24">Body_medium</p>
			<p class="text-label mb-24">label</p>
			<p class="text-number-big mb-24">88</p>
		</div>
	</div>

	<div class="py-24 bg-green-light" >
		<div class="container">
			<h1 class="mb-24">Heading H1</h1>
			<h2 class="mb-24">Heading H2</h2>
			<h3 class="mb-24">Heading H3</h3>
			<h4 class="mb-24">Heading H4</h4>
			<h6 class="text-number mb-24">88</h6>
			<p class="text-lead mb-24">Lead</p>
			<p class="text-body mb-24">Body</p>
			<p class="text-body-medium mb-24">Body_medium</p>
			<p class="text-label mb-24">label</p>
			<p class="text-number-big mb-24">88</p>
		</div>
	</div>

	

	<!--</editor-fold>-->

{% endblock %}
