<div class="header-popular">
	{% if popular.text %}
		<p class="header-popular__text">{{ popular.text }}</p>
	{% endif %}
	{% if popular.list %}
		<ul class="header-popular__list">
			{% for item in popular.list %}
				<li class="header-popular__item">
					<a href="{{ item.href }}" class="header-popular__link">{{ item.text }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
