.header-popular { // TODO нет адаптивов
	display: flex;
	padding: rem(11) rem(88);
	width: 100%;
	min-height: rem(40);
	background-color: $color-white;
	backdrop-filter: blur(#{rem(24)});
	@include defaultTransition(background-color);

	@at-root body.scrolled & {
		background-color: $color-white;
	}

	@include media-breakpoint-up(lg) {
		padding: rem(11) rem(105);
	}

	@include media-breakpoint-down(sm) {
		display: none; // TODO временно
	}

	&__text {
		color: rgba($color-black, 0.4);
		margin-right: rem(24);
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		&:not(:last-child) {
			margin-right: rem(16);
		}
	}

	&__link {
		@include defaultTransition(color);

		@include hover {
			color: $color-green;
		}

		// TODO нет ховера в дизайне
	}
}
