.form {
	$root: &;
	position: relative;

	&__wrapper {
		margin-left: auto;
		width: 100%;
		box-sizing: content-box;
		max-width: initial;
		min-height: rem(650);

		@include media-breakpoint-up(md) {
			padding: rem(55) rem(222) rem(64) rem(80);
			max-width: rem(434);
			min-height: rem(560);
        }

		@include media-breakpoint-only(md) {
			padding: 0;
			max-width: initial;
			min-height: rem(640);
		}
	}

	&__content {
		#{$root}.is-sent & {
			display: none;
		}
	}

	&__title {
        @include h3;
        margin-bottom: rem(11);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(13);
        }

		@include media-breakpoint-down(sm) {
            margin-bottom: rem(5);
        }

        &-line {
            span {
                font-weight: 700;
            }
        }

		#{$root}.is-sent & {
			display: none;
		}
    }

	&__background {
		position: absolute;
		top: 0;
		height: 100%;
		left: 0;
		overflow: hidden;
		max-width: rem(614);
		height: rem(598);

		@include media-breakpoint-down(md) {
            display: none;
        }

		img {
            clip-path: url($shape-2);
        }
	}

	&__info {
		// margin-bottom: rem(13);

		@include media-breakpoint-down(md) {
			margin-bottom: rem(6);
        }
	}

	&__field {
		&:not(:last-child){
			margin-bottom: rem(4);
		}
	}

	&__fields {
		margin-bottom: rem(32);
	}

	&__agreement {
		color: $color-opacity-dark;
		margin-bottom: rem(32);
		max-width: rem(268);
	}

	&__answer {
		display: none;
		max-width: rem(400);
		width: 100%;
		margin-right: auto;

		@include media-breakpoint-down(sm) {
			max-width: rem(252);
        }

		#{$root}.is-sent & {
			display: block;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&-answer-title {
		@include h3;
		margin-bottom: rem(16);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}

		span {
			font-weight: 500;
		}
	}

	&__answer-message {
		margin-bottom: rem(16);
		max-width: rem(220);
	}

	&__answer-caption {
		color: rgba($color-black, 0.5);
		max-width: rem(240);
	}
}