.link {
	$root: &;

	display: inline-block;
	position: relative;
	background-color: transparent;
	border: 0;
	padding: 0;
	color: $color-black;
	@include defaultTransition(color);
    @include text-small;

	@include hover {
		color: $color-green;
	}

	&:active {
		color: $color-green;
	}


	&:disabled,
	&--disabled {
		pointer-events: none;
		color: rgba($color-black, 0.4);
	}
}