.heading {
	$root: &;
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: rem(32);
	width: 100%;

	&--basic {
		justify-content: initial;
		align-items: normal;
		margin-bottom: rem(64);

		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}

	@include media-breakpoint-up(md) {
		margin-bottom: rem(43);

		@at-root .heading--basic {
			margin-bottom: rem(96);
		}
	}

	@include media-breakpoint-only(md) {
		margin-bottom: rem(40);

		@at-root .heading--basic {
			margin-bottom: rem(96);
		}
	}

	&__title {
		@include h3;

		&-line {
            span {
                font-weight: 700;
            }
        }
	}

	&__action {
		padding-top: rem(6);
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}

	&__link {
		@include defaultTransition(color);

		@include hover {
			color: $color-green;
		}
	
		&:active {
			color: $color-green;
		}
	
		&:focus {
			color: $color-green;
		}
	}

	&__label {
		max-width: rem(160);
		margin-bottom: rem(40);

		#{$root}--basic & {
			padding-top: rem(6);

			@include media-breakpoint-down(md) {
				padding-top: 0;
			}
		}

		@include media-breakpoint-up(md) {
			margin-right: rem(282);
		}

		@include media-breakpoint-only(md) {
			margin-right: 0;
			margin-bottom: rem(48);
		}
	}
}
