.footer {
	$root: &;
	display: block;
	background-color: $color-white;
	margin-top: auto;

	&__logo {
		display: block;
    	width: rem(96);
		margin-bottom: rem(38);
		

		@include media-breakpoint-up(md) {
            width: rem(120);
			margin-bottom: 0;
        }

		@include media-breakpoint-down(sm) {
			grid-area: logo;
		}
	}

	&__lang {
		margin-right: rem(26);

		@include media-breakpoint-down(md) {
			margin-right: rem(26);
		}
	}

	&__base {
		display: grid;
		align-items: flex-start;
		margin-bottom: rem(48);
		

		@include media-breakpoint-up(md) {
			grid-template-columns: 1fr rem(141) 1fr 1fr;
			grid-column-gap: rem(129);
			margin-bottom: rem(64);
		}

		@include media-breakpoint-only(md) {
			grid-template-columns: rem(120) rem(108) rem(236);
			grid-column-gap: rem(90);
		}


		@include media-breakpoint-down(sm) {
			grid-template-areas: 
			"logo ."
			"links	handler"
			"links	handler"
			"actions actions";
			grid-column-gap: rem(24);
		}


		// grid-template-columns: 120px 108px 230px;
		// grid-column-gap: 90px;
	}

	&__search-toggle {
		position: relative;
		display: block;
		width: rem(24);
		height: rem(24);
		border: 0;
		padding: 0;
		background-color: transparent;
		@include defaultTransition(color);

		@include hover {
			color: $color-green;
		}

		&:before {
			position: absolute;
			top: rem(-8);
			left: rem(-8);
			width: rem(40);
			height: rem(40);
			content: "";
		}

		@include media-breakpoint-only(md) {
			margin-right: rem(20);
		}
		@include media-breakpoint-down(sm) {
			margin-right: 0;
		}
	}

	&__links {
		width: max-content;
		margin-bottom: rem(42);

		@include media-breakpoint-up(md) {
			justify-self: flex-end;
			margin-bottom: 0;
		}

		@include media-breakpoint-only(md) {
			margin-right: rem(-5);
		}

		@include media-breakpoint-down(sm) {
			grid-area: links;
		}
	}

	&__container {
		padding-top: rem(43);
		padding-bottom: rem(24);

		@include media-breakpoint-up(md) {
			padding-top: rem(72);
			padding-bottom: rem(32);
		}
	}

	&__el {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}

		&--submenu {
			position: relative;

			.icon {
				@include defaultTransition(transform);
			}
			
			&:hover {
				.footer__link--submenu {
					color: $color-green;
				}
				

				& .footer__submenu {
					opacity: 1;
					visibility: visible;
				}

				& .icon {
					color: $color-green;
					transform: scaleY(-1);
				}
			}
		}
	}

	&__link {

		&--submenu {
			cursor: pointer;

			border: none;
			background: transparent;
			padding: 0;

			.icon {
				margin-left: rem(2);
			}
		}

		@include defaultTransition(color);

		&.active {
			cursor: default;
			text-decoration: none;
			pointer-events: none;
			color: $color-green;
		}

		&:hover {
			color: $color-green;
			text-decoration: none;
		}
		
	}

	&__actions {
		max-width: rem(226);

		@include media-breakpoint-down(sm) {
			grid-area: actions;
			max-width: rem(236);
		}
	}

	&__action {
		&:not(:last-child){
			margin-bottom: rem(24);
		}

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		.button-icon {
			width: 100%;
		}
	}

	&__handler {
		display: flex;
		align-items: center;
		justify-self: flex-end;

		@include media-breakpoint-down(md) {
			justify-self: flex-start;
			margin-top: rem(-24);
		}

		@include media-breakpoint-down(sm) {
			grid-area: handler;
			justify-self: flex-end;
			padding-top: rem(24);
		}
	}

	&__submenu {
		position: absolute;
		z-index: 1;
		left: rem(-34);
		right: 0;			
		min-width: rem(241);
		opacity: 0;
		visibility: hidden;
		@include defaultTransition(opacity);
		padding-top: rem(6);

		@include media-breakpoint-down(sm) {
			left: 0;
		}

		&-wrap {
			background-color: $color-white;
			display: flex;
			flex-direction: column;
			border-radius: rem(24);
			box-shadow: 0 rem(8) rem(24) rgba(4, 20, 35, 0.08);
			padding: rem(26) rem(32) rem(15);
		}

		&-link {
			margin-bottom: rem(8);
			@include defaultTransition(color);

			&.active {
				cursor: default;
				text-decoration: none;
				pointer-events: none;
				color: $color-green;
			}

			&:hover:not(.active) {
				color: $color-green;
				text-decoration: none;
			}
		}

	}

	&__bottom {	
		display: grid;
		justify-content: space-between;
		color: rgba($color-black, 0.4);
		

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: rem(11);
		}

		@include media-breakpoint-only(md) {
			grid-template-columns: repeat(2, auto);
			grid-row-gap: 10px;
		}

		&-logo {
			width: rem(46);
			color: rgba($color-black, 1);
			margin-left: rem(8);
		}

		&-copy {
			@include media-breakpoint-down(sm) {
				margin-bottom: rem(8);
			}
		}

		&-company {
			@include media-breakpoint-only(md) {
				grid-column: 1/2;
			}

			@include media-breakpoint-down(sm) {
				max-width: rem(200);
			}
		}

		.link {
			color: rgba($color-black, 0.4);

			@include hover {
				color: rgba($color-green, 1);
			}
		}
	}

	&__creator {
		display: flex;
    	align-items: center;
		justify-self: flex-end;
		color: rgba($color-black, 0.4);
		@include defaultTransition(color);

		@include hover {
			color: rgba($color-green, 1);
		}

		@include media-breakpoint-down(md) {
			grid-row-start: 1;
			grid-column-start: 2;
			grid-row-end: 3;
			grid-column-end: 3;
			align-self: flex-end;
			margin-bottom: rem(7);
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}
	}
}
