<div class="block-significant">
    <div class="block-significant__container container">
        {% if block.heading %}
            {% view '^heading' with {
                heading: block.heading
            } %}
        {% endif %}

        <div class="block-significant__cover">
            <div class="block-significant__wrap">
                <div class="block-significant__graph">
                    <div class="block-significant__triangle">
                    </div>
                    <div class="block-significant__triangle">
                    </div>
                    <div class="block-significant__triangle">
                    </div>
                </div>

                {% if block.img %}
                    <div class="block-significant__img">
                        {% view '@image' with {
                            image: block.img
                        } %}

                        

                        {% if block.img_mask %}
                            <div class="block-significant__img block-significant__img--mask">
                                {% view '@image' with {
                                    image: block.img_mask
                                } %}
                            </div>
                        {% endif %}
                    </div>

                    
                {% endif %}
            </div>

            <div class="block-significant__desc">
                {% if block.icon %}
                    <div class="block-significant__icon">
                        {% view '@icon' with {
                            icon: block.icon
                        } %}
                    </div>
                {% endif %}
                
                {% if block.txt %}
                    <div class="block-significant__txt">
                        {{block.txt}}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>