<div class="block-navigate" data-tab-container >
    <div class="block-navigate__block" data-anchors>
        <div class="block-navigate__container container">
            {% if block.tabs %}
                {% view '&tabs' with {
                    tabs:block.tabs
                }%}
            {% endif %}
        </div>
    </div>
    <div class="block-navigate__fixed" data-anchors-target>        
        <div class="block-navigate__container container">
            {% if block.tabs %}
                {% view '&tabs' with {
                    tabs:block.tabs_fixed
                }%}
            {% endif %}
        </div>
    </div>

</div>