.slider-type {

    &__bottom {
        display: none;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
    }

    &__arrows {
        margin-left: 0;
        margin-right: rem(-15);
        width: calc(100% + #{rem(15)});

        @include media-breakpoint-down(md) {
            margin-right: rem(-12);
            width: calc(100% + #{rem(12)});
        }
    }

    &__content {
        margin-bottom: rem(32);
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: rem(35);

        @include media-breakpoint-up(md) {
            // margin-bottom: rem(42);
        }

        .slider-type__action {
            @include media-breakpoint-up(sm) {
                display: none;
            }  
        }
    }

    &__action {
        padding-top: rem(2);
    }

    &__slide {
        margin-bottom: rem(8);

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }

    &__base {
        .slider-type__action {
            display: block;
            margin-top: rem(22);

            @include media-breakpoint-up(md) {
                display: none;
            } 
        }
    }

    .swiper-wrapper {
        flex-direction: column;
       

        @include media-breakpoint-up(md) {
            flex-direction: row;
        } 

        // @media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
        //     transform: none !important;
        // }

        @media only screen and (max-width: 640px) and (orientation: portrait) {
            transform: none !important;
        }
    }


}