<div {% if slider.scroll_target %}id="{{slider.scroll_target}}"{% endif %} {% if slider.attr %} {{slider.attr}}{% endif %} class="slider-rating" data-slider-rating>

	<div class="slider-rating__heading container">
		{% if slider.label %}
            <div class="slider-rating__label text-label"> 
                {{slider.label}}
            </div>
        {% endif %}
        {% if slider.title %}
            <div class="slider-rating__title">
                {% for title in slider.title %}
                    <div class="slider-rating__title-line">{{ title }}</div>
                {% endfor %}
            </div>
        {% endif %}
	</div>
	

	<div class="slider-rating__content">
		<div class="slider-rating__container container">
			<div class="slider-rating__base">
				<div class="swiper" data-slider>
					<div class="swiper-wrapper">
						{% for slide in slider.slides %}
							<div class="slider-rating__slide swiper-slide">
								{% view '^card-rating' with {
									card: slide
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				{% if slider.action %}
					<div class="slider-rating__action">
						{% view '@button' with {
							button: slider.action
						} %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% if slider.actions or slider.slides|length > 2 %}
		<div class="slider-rating__bottom container">
			{% if slider.slides|length > 2 %}
				<div class="slider-rating__arrows">
					{% view '@nav-arrows' %}
				</div>
			{% endif %}
		</div>
	{% endif %}
</div>
