.slider-rating {
    &__title {
        @include h3;
    
        @include media-breakpoint-up(md) {
            max-width: rem(500);
        }

        @include media-breakpoint-only(md) {
            max-width: initial;
        }   

        &-line {
            span {
                font-weight: 700;
            }
        }
    }

    &__heading {
        // display: flex;
        // flex-direction: column;
        // margin-bottom: rem(63);
        
        // @include media-breakpoint-up(md) {
        //     margin-bottom: rem(96);
        //     flex-direction: row;
        // }

        // @include media-breakpoint-only(md) {
        //     flex-direction: column;
        // }   
    }

    
    &__label {
        max-width: rem(160);
        padding-top: rem(8);
        margin-bottom: rem(40);

        @include media-breakpoint-up(md) {
            margin-right: rem(284);
            margin-bottom: 0;
        }

        @include media-breakpoint-only(md) {
            margin-right: 0;
            margin-bottom: rem(48);
        }  
    }

    &__content {
        margin-bottom: rem(32);

        @include media-breakpoint-down(sm) {
            margin-bottom: rem(19);
        }
    }
    
    &__arrows {
        margin-left: 0;
        margin-right: rem(-15);
        width: calc(100% + #{rem(15)});

        @include media-breakpoint-down(md) {
            margin-right: rem(-12);
            width: calc(100% + #{rem(12)});
        }

        @include media-breakpoint-down(sm) {
            margin-right: 0;
            width: 100%;
        }
    }
}